<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="/icons/logo.png" />
    <link rel="stylesheet" href="/styles/static.css" />
    <link rel="stylesheet" href="<%= css %>" />
  </head>
  <header>
    <div class="logo">
      <a href="<%= main %>">
        <img src="/icons/logo.png" alt="logo vajuli" />
      </a>
    </div>
    <% if (!token) { %>
    <div>
      <a href="/login">Iniciar sesión</a>
      <a href="/signin">Crear cuenta</a>
    </div>
    <%} else { %>
    <div>
      <img id="user" src="/icons/user.png" alt="user" />
    </div>
    <% } %>
  </header>
</html>
