<%- include("template/header", {title,css,token,main}) %>
<aside id="user-options" class="hidden">
  <input type="button" value="Inicio" onclick="location.href = '/main'" />
  <input type="button" value="Ajustes" onclick="location.href='/settings'" />
  <input type="button" value="Log out" onclick="logOut()" />
</aside>
<main>
  <% movies.forEach(function(movie){ %> <%- include('template/movie',
  {movie});%> <% }); %>
</main>

<script defer src="/js/main.js"></script>

<%- include("template/footer") %>
