main {
  display: relative;
  width: 100%;
  min-height: calc(100vh - 80px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

main article:nth-child(2n) {
  top: -70px;
}

main article:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  transition: all 200ms;
}

article {
  cursor: pointer;
  background-color: var(--dark-red);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  bottom: -20px;
  height: 100px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 20px;
  transition: all 100ms;
}

.last {
  text-decoration: line-through;
}

.title {
  display: grid;
  place-content: center;
  place-items: center;
}

.title a {
  text-decoration: none;
  color: white;
}

.decimal {
  font-size: 15px;
  text-decoration: none;
}

