article {
  position: relative;
  bottom: -20px;
  height: 100px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 20px;
}

main {
  width: 100%;
  height: calc(100vh - 80px - 40px);
  display: grid;
  place-items: center;
  place-content: center;
}

article {
  background: var(--green);
  padding: 120px 40px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 12px;
}

section {
  position: relative;
  display: flex;
  color: var(--pastel);
}

.password-vision {
  height: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

.hide-image {
  display: none;
}

#title {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--green);
  height: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 0px 5px;
}

input[type="text"],
input[type="password"] {
  height: 20px;
  width: 150px;
  padding: 5px 8px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid white;
  color: var(--pastel);
  outline: none;
  padding-right: 40px;
}

input[type="text"]:valid ~ label,
input[type="text"]:active ~ label,
input[type="text"]:focus ~ label,
input[type="password"]:valid ~ label,
input[type="password"]:active ~ label,
input[type="password"]:focus ~ label {
  transition: all 0.2s ease-in-out;
  top: -1px;
  color: gray;
}

.special-input {
  text-transform: uppercase;
}

input[type="submit"],
input[type="button"] {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 15px;
  transition: all 100ms;
  width: 70%;
  background: var(--sage);
}

input[type="submit"]:hover,
input[type="button"]:hover {
  box-shadow: 4px 4px 0px var(--pastel);
  transform: translate(-4px, -4px);
}

input[type="submit"]:active,
input[type="button"]:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  transition: all 80ms;
}
