* {
  padding: 0;
  margin: 0;
  --background: rgb(179, 175, 175);
  --red: #e20000;
  --dark-red: #880808;
}

header {
  display: flex;
  width: 100%;
  height: 80px;

  justify-content: space-between;
  align-items: center;
  background: var(--red);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

header div a {
  text-decoration: none;
  padding: 7px;
  background-color: var(--dark-red);
  color: rgb(216, 211, 211);
  margin: 10px;
}

article {
  background-color: var(--dark-red);
  color: white;

  position: relative;
  bottom: -20px;
  height: 100px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  background: var(--red);
  width: 100%;
  height: 70px;
  box-shadow: 0px -17px 16px -7px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.logo img {
  height: 60px;
  cursor: pointer;
  transform: rotate(0);
}

.logo a {
  background: transparent;
}

.logo a:hover {
  animation: shake 1200ms;
  animation-delay: 40ms;
}

@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

main {
  width: 100%;
  height: calc(100vh - 80px - 40px);
  display: grid;
  place-items: center;
  place-content: center;
}

article {
  background: var(--dark-red);
  padding: 150px 50px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

section {
  position: relative;
  display: flex;
}

label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-red);
  height: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

input[type="text"],
input[type="password"] {
  height: 20px;
  padding: 5px 8px;
  border-radius: 10px;
  background: transparent;
  color: white;
}

input[type="text"]:valid ~ label,
input[type="text"]:active ~ label,
input[type="text"]:focus ~ label,
input[type="password"]:valid ~ label,
input[type="password"]:active ~ label,
input[type="password"]:focus ~ label {
  transition: all 0.2s ease-in-out;
  top: -1px;
  color: rgb(184, 178, 178);
}

.special-input {
  text-transform: uppercase;
}


input[type="submit"],
input[type="button"] {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: var(--red);
  border: none;
  border-radius: 15px;
  transition: all 100ms;
  width: 70%;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  box-shadow: 4px 4px 0px black;
  transform: translate(-4px, -4px);
}

input[type="submit"]:active,
input[type="button"]:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  transition: all 80ms;
}

footer div{
  display: flex;
  flex-direction: column;
}

footer a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

footer a:hover{
  text-decoration:underline;
}

#copyright{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

