*{
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header a{
  text-decoration: none;
  padding: 7px;
  background-color:#5ebbe0;
}

a,img{
  height: 200px;
  width: 160px;
}

main{
  background: #5ebbe0;
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  place-items: center;
  gap: 20px;
}