main {
  width: 100%;
  height: calc(100vh - 80px - 40px);
  display: grid;
  place-items: center;
  place-content: center;
}

article {
  background: var(--green);
  border-radius: 20px;
  height: 70vh;
  display: grid;
  place-content: center;
  padding: 0 70px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: relative;
  display: flex;
}

label {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--green);
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  padding: 0 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 20px;
  padding: 5px 8px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
}

select {
  width: 100%;
  border-radius: 10px;
  padding: 5px 8px;
  background: transparent;
  color: white;
  border: 2px solid white;
  outline: none;
}

option {
  color: black;
  width: 100%;
}
input:valid ~ label,
input:invalid ~ label input:active ~ label,
input:focus ~ label {
  transition: all 0.2s ease-in-out;
  top: -1px;
  color: gray;
}

.special-input {
  text-transform: uppercase;
}

input[type="submit"],
input[type="button"] {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: var(--sage);
  border: none;
  border-radius: 15px;
  transition: all 100ms;
  width: 70%;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  box-shadow: 4px 4px 0px var(--pastel);
  transform: translate(-4px, -4px);
}

input[type="submit"]:active,
input[type="button"]:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  transition: all 80ms;
}

@media (max-height: 840px) {
  h1 {
    opacity: 0;
  }
}
